@model CRMApp.ViewModels.UserContractVM

@{
    ViewData["Title"] = "Accept";
}

<h1>Accept</h1>

<h4>CompanyContractVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Accept">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Agreement" class="control-label"></label>
                <input asp-for="Agreement" class="form-control" />
                <span asp-validation-for="Agreement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthCount" class="control-label"></label>
                <input asp-for="MonthCount" class="form-control" />
                <span asp-validation-for="MonthCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <input asp-for="requestId" type="hidden" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


